<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pineapple.timeline.service.TimelineMapper">
	<!-- TimelineReplyAndUser -->
	<resultMap type="com.pineapple.timeline.service.TimelineReply" id="selectTimelineReply">
		<id property="tlReCode" column="tlReCode"/>
		<result property="tlCode" column="tlCode"/>
		<result property="tlReId" column="tlReId"/>
		<result property="tlReContent" column="tlReContent"/>
		<result property="tlReTime" column="tlReTime"/>
		<result property="nickname" column="nickname"/>
	</resultMap>
	<!-- TimelineLike -->
	<resultMap type="com.pineapple.timeline.service.TimelineLike" id="selectTimelineLikeresultmap">
		<id property="tlLikeId" column="tlLikeId"/>
		<id property="tlCode" column="tlCode"/>
		<result property="timelinelikenickname" column="timelinelikenickname"/>
	</resultMap>
	<!-- TimelineAndUserAndEmployeeAndTimelineLike -->
	<resultMap type="com.pineapple.timeline.service.TimelineAndUserAndEmployeeAndTimelineLike" id="selectTimelineListresultmap">
		<id property="tlCode" column="tlCode"/>
		<result property="tlTitle" column="tlTitle"/>
		<result property="tlContent" column="tlContent"/>
		<result property="tlTime" column="tlTime"/>
		<result property="nickname" column="nickname"/>
		<result property="emRankCode" column="emRankCode"/>
		<result property="emComName" column="emComName"/>
		<result property="timelinelikecount" column="timelinelikecount"/>
		<collection property="timelineLike" resultMap="selectTimelineLikeresultmap">
			<id property="tlLikeId" column="tlLikeId"/>
			<id property="tlCode" column="tlCode"/>
			<result property="timelinelikenickname" column="timelinelikenickname"/>
		</collection>
	</resultMap>
	<resultMap type="com.pineapple.invest.service.InvestAndFd"
	 			id="selectInvestAndFd">
	 	<result property="fdCode" column="fdCode"/>
	 	<result property="fdTitle" column="fdTitle"/>
	 	<result property="numberOfShares" column="numberOfShares"/>
	 	<result property="comName" column="comName"/>
	 	<result property="total" column="total"/>
	 	<result property="posterImg" column="posterImg"/>
	 	<result property="minInvestMoney" column="minInvestMoney"/>
	 	<result property="issuePrice" column="issuePrice"/>
	 	<result property="days" column="days"/>
	 	<result property="fdStatus" column="fdStatus"/>
	 	<result property="checkassignment" column="checkassignment"/>
	 </resultMap>
	<!-- 타임라인 메인 페이지 에서 list 조회(최신) -->
 	<select id="selectTimelineList" parameterType="INT" resultMap="selectTimelineListresultmap">
		SELECT t.tlCode,
			   t.tlTitle,
			   t.tlContent,
			   t.tlTime,
			   u.nickname,
			   e.emRankCode,
			   e.emComName,
			   (SELECT COUNT(tlCode) FROM timelinelike WHERE tlCode = t.tlCode) as timelinelikecount,
			   tl.tlLikeId,
			   (SELECT nickname FROM user su WHERE tl.tlLikeId = su.userId) as timelinelikenickname
		FROM timeline t 
		LEFT JOIN user u 
		ON t.tlId = u.userId 
		LEFT JOIN employee e 
		ON u.userId = e.emUserId 
		LEFT JOIN timelinelike tl 
		ON tl.tlCode = t.tlCode
		ORDER BY t.tlTime DESC
		<if test="numberOfRequests == 0">
		limit #{numberOfRequests},10;
		</if>
		<if test="numberOfRequests != 0">
		limit #{numberOfRequests},10;
		</if>
	</select>
	<!-- 타임라인 입력 -->
	<insert id="insertTimeline" parameterType="com.pineapple.timeline.service.Timeline">
		INSERT INTO timeline
					(tlId, tlTitle, tlContent, tlTime)
		VALUES (#{tlId}, #{tlTitle}, #{tlContent}, NOW())
	</insert>
	<!-- 타임라인 수정 -->
	<update id="updateTimeline" parameterType="com.pineapple.timeline.service.Timeline">
		UPDATE timeline
			SET
				tlTitle=#{tlTitle},
				tlContent=#{tlContent}
		WHERE tlCode = #{tlCode}
	</update>
	<!-- 타임라인 삭제 -->
	<delete id="deleteTimeline" parameterType="INT">
		DELETE FROM timeline WHERE tlCode=#{tlCode}
	</delete>
	<!-- 타임라인 삭제시 댓글같이 삭제 -->
	<delete id="deleteTimelineAndReply" parameterType="INT">
		DELETE FROM timelinereply WHERE tlCode=#{tlCode}
	</delete>
	<!-- 타임라인 댓글 list 조회 -->
	<select id="selectTimelineReplyList" resultMap="selectTimelineReply" parameterType="INT">
		SELECT tr.tlReCode, 
			   tr.tlCode, 
			   tr.tlReId, 
			   tr.tlReContent, 
			   tr.tlReTime,
			   (SELECT u.nickname FROM user u WHERE u.userId = tr.tlReId ) nickname 
		FROM timelinereply tr  
		WHERE tr.tlCode = #{tlCode}
	</select>
	<!-- 타임라인 댓글 입력 -->
	<insert id="insertTimelineReply" parameterType="com.pineapple.timeline.service.TimelineReply">
		INSERT INTO timelinereply
			   (tlCode, tlReId, tlReContent, tlReTime)
		VALUES (#{tlCode}, #{tlReId}, #{tlReContent}, NOW())
	</insert>
	<!-- 타임라인 댓글 수정 -->
	<update id="updateTimelineReply" parameterType="com.pineapple.timeline.service.TimelineReply">
		UPDATE timelinereply
			SET
				tlReContent=#{tlReContent}
		WHERE tlReCode=#{tlReCode}
	</update>
	<!-- 타임라인 댓글 삭제 -->
	<delete id="deleteTimelineReply" parameterType="com.pineapple.timeline.service.TimelineReply">
		DELETE FROM timelinereply WHERE tlReCode=#{tlReCode}
	</delete>
	<!-- 펀딩 조회 (최신순) -->
	<select id="selectTimelineFundingRankung" resultMap="selectInvestAndFd">
		SELECT  f.fdCode,
				f.fdTitle,
				f.numberOfShares,
				c.comName,
				CASE f.fdStatus WHEN '모집중' THEN IFNULL((SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode ),0) END as total,
				f.posterImg,
				f.minInvestMoney,
				f.issuePrice,
				TO_DAYS(f.closeDate)-TO_DAYS(now()) as days,
				f.fdStatus
		FROM funding f 
		LEFT JOIN company c 
		ON f.fdComCode = c.comCode
		LEFT JOIN businessarea b
		ON f.fdCode = b.areaFdCode
		LEFT JOIN dividendplan d
		ON f.fdCode = d.divFdCode
		WHERE f.fdStatus = '모집중'
		GROUP BY f.fdCode 
		ORDER BY f.openDate DESC
		LIMIT 3;
	</select>
	<!-- 타임라인 댓글순 -->
	<select id="selectTimelineListReplyCount" parameterType="INT" resultMap="selectTimelineListresultmap">
		SELECT t.tlCode,
			   t.tlTitle,
			   t.tlContent,
			   t.tlTime,
			   u.nickname,
			   e.emRankCode,
			   e.emComName,
			   (SELECT COUNT(tlCode) FROM timelinelike WHERE tlCode = t.tlCode) as timelinelikecount,
			   tl.tlLikeId,
			   (SELECT nickname FROM user su WHERE tl.tlLikeId = su.userId) as timelinelikenickname
		FROM timeline t 
		LEFT JOIN user u 
		ON t.tlId = u.userId 
		LEFT JOIN employee e 
		ON u.userId = e.emUserId 
		LEFT JOIN timelinelike tl 
		ON tl.tlCode = t.tlCode
		ORDER BY (SELECT COUNT(str.tlReCode) FROM timelinereply str WHERE str.tlCode = t.tlCode ) DESC
		<if test="numberOfRequests == 0">
		limit #{numberOfRequests},10;
		</if>
		<if test="numberOfRequests != 0">
		limit #{numberOfRequests},10;
		</if>
	</select>
	<!-- 타임라인 인기순 -->
	<select id="selectTimelineListLikeCount" parameterType="INT" resultMap="selectTimelineListresultmap">
		SELECT t.tlCode,
			   t.tlTitle,
			   t.tlContent,
			   t.tlTime,
			   u.nickname,
			   e.emRankCode,
			   e.emComName,
			   (SELECT COUNT(tlCode) FROM timelinelike WHERE tlCode = t.tlCode) as timelinelikecount,
			   tl.tlLikeId,
			   (SELECT nickname FROM user su WHERE tl.tlLikeId = su.userId) as timelinelikenickname
		FROM timeline t 
		LEFT JOIN user u 
		ON t.tlId = u.userId 
		LEFT JOIN employee e 
		ON u.userId = e.emUserId 
		LEFT JOIN timelinelike tl 
		ON tl.tlCode = t.tlCode
		ORDER BY (SELECT COUNT(stl.tlCode) FROM timelinelike stl WHERE stl.tlCode = t.tlCode ) DESC
		<if test="numberOfRequests == 0">
		limit #{numberOfRequests},10;
		</if>
		<if test="numberOfRequests != 0">
		limit #{numberOfRequests},10;
		</if>
	</select>
	
	
	
	<!-- MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page  -->
	<!-- MyInvestorTimeline -->
	<resultMap type="com.pineapple.timeline.service.MyInvestorTimeline" id="selectMypageTimelineListresultmapper">
		<id property="tlCode" column="tlCode"/>
		<result property="tlTitle" column="tlTitle"/>
		<result property="tlContent" column="tlContent"/>
		<result property="tlTime" column="tlTime"/>
		<result property="nickname" column="nickname"/>
		<result property="timelinelikecount" column="timelinelikecount"/>
		<result property="totaltimelinecount" column="totaltimelinecount"/>
		<collection property="timelineLike" resultMap="selectTimelineLikeresultmap">
			<id property="tlLikeId" column="tlLikeId"/>
			<id property="tlCode" column="tlCode"/>
			<result property="timelinelikenickname" column="timelinelikenickname"/>
		</collection>
	</resultMap>
	<!-- MyInvestorTimelineLog -->
	<resultMap type="com.pineapple.timeline.service.MyInvestorTimelineLog" id="selectMypageTimelinelogResultMapper">
		<result property="daycount" column="daycount"/>
		<result property="oneweekcount" column="oneweekcount"/>
		<result property="twoweekcount" column="twoweekcount"/>
		<result property="threeweekcount" column="threeweekcount"/>
		<result property="fourweekcount" column="fourweekcount"/>
		<result property="onemonthcount" column="onemonthcount"/>
	</resultMap>
	<!-- 자신이 등록한 타임라인 list 조회 -->
	<select id="selectMypageTimelineList" parameterType="String" resultMap="selectMypageTimelineListresultmapper">
		SELECT t.tlCode,
			   t.tlTitle,
			   t.tlContent,
			   t.tlTime,
			   u.nickname,
			   t.tlId,
			   (SELECT COUNT(tlCode) FROM timelinelike WHERE tlCode = t.tlCode) as timelinelikecount,
			   tl.tlLikeId,
			   (SELECT nickname FROM user su WHERE tl.tlLikeId = su.userId) as timelinelikenickname,
			   (SELECT COUNT(tlCode) FROM timeline st WHERE st.tlId = #{tlId} ) as totaltimelinecount
		FROM timeline t 
		INNER JOIN user u 
		ON t.tlId = u.userId 
		LEFT JOIN timelinelike tl 
		ON tl.tlCode = t.tlCode
		WHERE t.tlId = #{tlId}
		ORDER BY t.tlTime DESC
	</select>
	<!-- 자신이 한달간 활동한 타임라인 조회 -->
	<select id="selectMypageTimelinelog" parameterType="String" resultMap="selectMypageTimelinelogResultMapper">
		SELECT (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -0 day) and st.tlId = #{tlId}) as daycount,
			   (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -7 day) and st.tlId = #{tlId}) as oneweekcount,
			   (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -14 day) and st.tlId = #{tlId}) as twoweekcount,
			   (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -21 day) and st.tlId = #{tlId}) as threeweekcount,
			   (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -28 day) and st.tlId = #{tlId}) as fourweekcount,
			   (SELECT COUNT(tlCode) FROM timeline st where st.tlTime >= date_add(now(), interval -30 day) and st.tlId = #{tlId}) as onemonthcount
	</select>
	
	
	<!-- Message -->
	<resultMap type="com.pineapple.timeline.service.Message" id="selectMypageMessagelistResultMapper">
		<id property="msgCode" column="msgCode"/>
		<result property="msgTitle" column="msgTitle"/>
		<result property="msgContent" column="msgContent"/>
		<result property="msgCheck" column="msgCheck"/>
		<result property="msgSendId" column="msgSendId"/>
		<result property="msgReceiveId" column="msgReceiveId"/>
		<result property="msgTime" column="msgTime"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
	</resultMap>
	<resultMap type="com.pineapple.timeline.service.UserIdAndCount" id="selectUserNicknameresultmapper">
		<id property="userId" column="userId"/>
		<result property="usertotalcount" column="usertotalcount"/>
	</resultMap>
	<!-- 받은 메세지 조회하기 -->
	<select id="selectMypageMessagelist" parameterType="String" resultMap="selectMypageMessagelistResultMapper">
		SELECT m.msgCode,
			   m.msgTitle,
			   m.msgContent,
			   m.msgCheck,
			   m.msgSendId,
			   m.msgReceiveId,
			   m.msgTime,
			   u.name,
			   u.nickname
		FROM message m 
		INNER JOIN user u 
		ON m.msgSendId = u.userId 
		WHERE msgReceiveId = #{msgReceiveId}
		ORDER BY m.msgTime DESC
	</select>
	<!-- 보낸 메세지 조회하기 -->
	<select id="selectMypageMessagesendlist" parameterType="String" resultMap="selectMypageMessagelistResultMapper">
		SELECT m.msgCode,
			   m.msgTitle,
			   m.msgContent,
			   m.msgCheck,
			   m.msgSendId,
			   m.msgReceiveId,
			   m.msgTime,
			   u.name,
			   u.nickname
		FROM message m 
		INNER JOIN user u 
		ON m.msgReceiveId = u.userId 
		WHERE m.msgSendId = #{msgSendId}
		ORDER BY m.msgTime DESC
	</select>
	<!-- 메세지 연람시 check -->
	<update id="updateMypageMessageopencheck" parameterType="INT">
		UPDATE message
			SET
			msgCheck=1
		WHERE msgCode = #{msgCode}
	</update>
	<!-- 메세지 보낼때 닉네임 검색 -->
	<select id="selectUserNickname" parameterType="java.util.Map" resultMap="selectUserNicknameresultmapper">
		SELECT u.userId,
			   (SELECT COUNT(su.userId) 
			    FROM user su) as usertotalcount 
		FROM user u 
		WHERE u.userId LIKE CONCAT(#{receiveid},'%')
	</select>
	<!-- 메세지보내기 -->
	<insert id="insertMypageMessage" parameterType="com.pineapple.timeline.service.Message">
		INSERT INTO message
			(msgTitle, msgContent, msgCheck, msgSendId, msgReceiveId, msgTime)
		VALUES ( #{msgTitle}, #{msgContent}, 0, #{msgSendId}, #{msgReceiveId}, NOW())
	</insert>
	<!--받은 메세지 삭제하기 -->
 	<delete id="deleteMypageMessage" parameterType="String">
			DELETE FROM message WHERE msgCode=#{msgCode}
	</delete>
	<!-- 선택 메세지 읽은 메세지로 -->
	<update id="updateMypageMessageCheckOk" parameterType="String">
		UPDATE message
			SET
				msgCheck=1
		WHERE msgCode = #{msgCode}
	</update>
	<!-- 선택 메세지 읽지않은 메세지로 -->
	<update id="updateMypageMessageCheckNo" parameterType="String">
		UPDATE message
			SET
				msgCheck=0
		WHERE msgCode = #{msgCode}
	</update>
	<resultMap type="com.pineapple.invest.service.MoneyAndTitleAndId" id="MoneyAndTitleAndIdResultmapper">
		<result property="flowCode" column="flowCode"/>
		<result property="mfFdCode" column="mfFdCode"/>
		<result property="mfInvestCode" column="mfInvestCode"/>
		<result property="mfAmount" column="mfAmount"/>
		<result property="mfCategory" column="mfCategory"/>
		<result property="mfDate" column="mfDate"/>
		<result property="title" column="title"/>
		<result property="id" column="id"/>
	</resultMap>
	<!-- 자금내역 조회 -->
	<select id="selectmoneyall" resultMap="MoneyAndTitleAndIdResultmapper" parameterType="hashmap">
		SELECT mf.flowCode,
			   mf.mfFdCode,
			   mf.mfInvestCode,
			   mf.mfAmount,
			   mf.mfCategory,
			   mf.mfDate,
			   (SELECT fdTitle FROM funding WHERE mf.mfFdCode = fdCode) title,
			   (SELECT investId FROM investment WHERE mf.mfInvestCode = investCode ) id 
		FROM moneyflow mf

		<choose>
			<when test="mfCategory == 0">
				ORDER BY mf.mfDate DESC
				<choose>
					<when test="numberOfRequests != null">
						limit #{numberOfRequests},10;
					</when>
					<otherwise>
						limit 0,10;
					</otherwise>
				</choose>
			</when>
			<otherwise>
				WHERE mf.mfCategory = #{mfCategory}
				ORDER BY mf.mfDate DESC
				<choose>
					<when test="numberOfRequests != null">
						limit #{numberOfRequests},10;
					</when>
					<otherwise>
						limit 0,10;
					</otherwise>
				</choose>
			</otherwise>
		</choose>
	</select>
	<resultMap type="com.pineapple.timeline.service.Companyreport" id="companyreportresultmapper">
		<result property="reportCode" column="reportCode"/>
		<result property="fdCode" column="fdCode"/>
		<result property="reportSendId" column="reportSendId"/>
		<result property="reportReceiveId" column="reportReceiveId"/>
		<result property="reportCheck" column="reportCheck"/>
		<result property="reportTitle" column="reportTitle"/>
		<result property="reportContent" column="reportContent"/>
		<result property="reportTime" column="reportTime"/>
		<result property="reportFileExtension" column="reportFileExtension"/>
		<result property="reportServerFileName" column="reportServerFileName"/>
		<result property="reportFileSize" column="reportFileSize"/>
	</resultMap>
	<!-- 보고서 조회 -->
	<select id="selectempreportlist" parameterType="hashmap" resultMap="companyreportresultmapper">
		SELECT * FROM companyreport cr 
		<choose>
			<when test="Category == 'empreceivemessagelist'">
				WHERE cr.reportReceiveId = #{id}
			</when>
			<otherwise>
				WHERE cr.reportSendId = #{id}
			</otherwise>
		</choose>
		ORDER BY cr.reportTime DESC
		<choose>
			<when test="numberOfRequests != null">
				limit #{numberOfRequests},10;
			</when>
			<otherwise>
				limit 0,10;
			</otherwise>
		</choose>
	</select>
	<!--받은 보고서 삭제하기 -->
 	<delete id="deleteMypagereport" parameterType="String">
			DELETE FROM companyreport WHERE reportCode=#{reportCode}
	</delete>
	<!-- 선택 보고서 읽은 보고서로 -->
	<update id="updateMypagereportCheckOk" parameterType="String">
		UPDATE companyreport
			SET
				reportCheck=1
		WHERE reportCode = #{reportCode}
	</update>
	<!-- 선택 보고서 읽지않은 보고서로 -->
	<update id="updateMypagereportCheckNo" parameterType="String">
		UPDATE companyreport
			SET
				reportCheck=0
		WHERE reportCode = #{reportCode}
	</update>
</mapper>