<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pineapple.user.service.MypageMapper">

<!-- 투자자 회원정보 및 계좌정보 조회 -->
	<select id="getAllInvestorInfo"
			parameterType="String"
			resultMap="getAllInvestorInfo">
		SELECT u.userId, u.nickname, u.name, u.levelCode, u.uDelTime, ac.accountCode, ac.accountId, ac.secCompany, ac.accountNumber, ac.accountNickname
		FROM user u
		left join account ac
		on u.userId = ac.accountId
		where u.userId=#{userId}
	</select>
	
	<resultMap type="com.pineapple.user.service.User"
			   id="getAllInvestorInfo">
		<result property="userId" column="userId"/>
		<result property="nickname" column="nickname"/>
		<result property="name" column="name"/>
		<result property="levelCode" column="levelCode"/>
		<result property="uDelTime" column="uDelTime"/>
		<collection property="account"
					ofType="com.pineapple.user.service.Account">
			<result property="accountCode" column="accountCode"/>
			<result property="accountId" column="accountId"/>
			<result property="secCompany" column="secCompany"/>
			<result property="accountNumber" column="accountNumber"/>
			<result property="accountNickname" column="accountNickname"/>
		</collection>
	</resultMap>
	
	<!-- 회원상세정보조회 -->
	<select id="selectUserDetailById" parameterType="String" resultType="com.pineapple.user.service.UserDetail">
		SELECT userDetailId, phoneFront3, phoneRest8, postalCode, address, nameCheck
		FROM userdetail 
		WHERE userDetailId=#{userDetailId}
	</select>
	<!-- 회원상세정보수정 -->
	<update id="updateUserDetailById" parameterType="com.pineapple.user.service.UserDetail">
		UPDATE userdetail
 		SET
 			userDetailId=#{userDetailId},
  			phoneFront3=#{phoneFront3},
  			phoneRest8=#{phoneRest8},
  			postalCode=#{postalCode},
  			address=#{address},
  			nameCheck=#{nameCheck}
 		WHERE userDetailId=#{userDetailId}
	</update>
	
<!-- resultMap 참고 
	<resultMap type="naver.jjdev.board.service.Member"
			   id="member">
		<result property="memberNo" column="member_no"/>
		<result property="memberName" column="member_name"/>
		<result property="memberAddr" column="member_addr"/>
	</resultMap>
	
	<resultMap type="naver.jjdev.board.service.Member"
			   id="AllInvestorInfo">
		<result property="memberNo" column="member_no"/>
		<result property="memberName" column="member_name"/>
		<result property="memberAddr" column="member_addr"/>
		<collection property="boardList"
					ofType="naver.jjdev.board.service.Board">
			<id property="boardNo" column="board_no"/>
			<result property="boardTitle" column="board_title"/>
			<result property="boardContent" column="board_content"/>
			<result property="boardUser" column="board_user"/>
			<result property="boardDate" column="board_date"/>
		</collection>
		
	</resultMap>
-->

</mapper>