<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pineapple.invest.service.InvestMapper">
	 <!-- InvestAndFd -->
	 <resultMap type="com.pineapple.invest.service.InvestAndFd"
	 			id="getInvestAndFd">
	 	<result property="fdCode" column="fdCode"/>
	 	<result property="fdTitle" column="fdTitle"/>
	 	<result property="numberOfShares" column="numberOfShares"/>
	 	<result property="comName" column="comName"/>
	 	<result property="total" column="total"/>
	 </resultMap>
	 <!-- InvestAndFdLikeAndFd -->
	 <resultMap type="com.pineapple.invest.service.InvestAndFdLikeAndFd"
	 			id="getInvestAndFdLikeAndFd">
		<result property="fdCode" column="fdCode"/>
		<result property="numberOfShares" column="numberOfShares"/>
		<result property="issuePrice" column="issuePrice"/>
		<result property="closeDate" column="closeDate"/>
		<result property="fdTitle" column="fdTitle"/>
		<result property="fdType" column="fdType"/>
		<result property="minInvestMoney" column="minInvestMoney"/>
		<result property="liketotal" column="liketotal"/>
		<result property="investtotal" column="investtotal"/>
		<result property="investcount" column="investcount"/>
	</resultMap>
	<!-- FundingDetail -->
	<resultMap type="com.pineapple.funding.service.Funding"
			   id="getFundingDetail">
		<result property="fdDetailCode" column="fdDetailCode"/>
		<result property="openstory" column="openstory"/>
		<result property="comValue" column="comValue"/>
	</resultMap>
	 <!-- FundingQna -->
	 <resultMap type="com.pineapple.invest.service.FundingQna"
			   	id="getFundingQna">
		<result property="qnaCode" column="qnaCode"/>
		<result property="qnaFdId" column="qnaFdId"/>
		<result property="qnaFdCode" column="qnaFdCode"/>
		<result property="qnaFdTitle" column="qnaFdTitle"/>
		<result property="qnaFdContent" column="qnaFdContent"/>
		<result property="qnaFdTime" column="qnaFdTime"/>
	</resultMap>
	<!-- FundingQnaReply -->
	<resultMap type="com.pineapple.invest.service.FundingQnaReply"
			   id="getFundingQnaReply">
		<id property="qnaReCode" column="qnaReCode"/>
		<result property="reQnaCode" column="reQnaCode"/>
		<result property="qnaReId" column="qnaReId"/>
		<result property="qnaReContent" column="qnaReContent"/>
		<result property="qnaReTime" column="qnaReTime"/>
	</resultMap>
	<!-- FundingQnaAndQnaReply -->
	<resultMap type="com.pineapple.invest.service.FundingQnaAndQnaReply" id="getFundingQnaAndQnaReplyresult">
		<id property="qnaReCode" column="qnaReCode"/>
		<result property="reQnaCode" column="reQnaCode"/>
		<result property="qnaReId" column="qnaReId"/>
		<result property="qnaReContent" column="qnaReContent"/>
		<result property="qnaReTime" column="qnaReTime"/>
		<result property="qnaFdCode" column="qnaFdCode"/>
	</resultMap>
	<!-- 투자하기 main 에서 사용하는 모집중인 펀딩 리스트 조회 쿼리 -->
	<select id="getInvestAndFd" parameterType="java.util.Map" resultType="com.pineapple.invest.service.InvestAndFd">
		SELECT  f.fdCode,
				f.fdTitle,
				f.numberOfShares,
				c.comName,
				IFNULL(sum(i.purchaseShares),0) as total
		FROM funding f 
		LEFT JOIN company c 
		ON f.fdComCode = c.comCode 
		LEFT JOIN investment i 
		ON f.fdCode = i.investFdCode 
		WHERE f.fdStatus = '모집중' OR f.fdStatus = '결제모집중'
		GROUP BY f.fdCode 
		ORDER BY f.fdDate DESC;
	</select>
	<!-- 투자하기 main 에서 사용하는 모집중인 펀딩 리스트 조회 쿼리 -->
	<select id="getInvestAndFdLikeAndFd" parameterType="INT" resultType="com.pineapple.invest.service.InvestAndFdLikeAndFd">
		SELECT f.fdCode,
			 f.numberOfShares, 
			 f.issuePrice,
			 f.closeDate,
			 f.fdTitle,
			 f.fdType,
			 f.minInvestMoney,
			 (SELECT COUNT(sfl.fdCode)FROM fundinglike sfl WHERE sfl.fdCode= #{fdCode}) as liketotal,
			 IFNULL(SUM(i.purchaseShares),0) as investtotal,
			 COUNT(i.investId) as investcount,
			 IFNULL(fd.openstory,'정보없음') as openstory,
			 IFNULL(fd.comValue,'정보없음') as comValue
		FROM funding f 
		LEFT JOIN investment i 
		ON f.fdCode = i.investFdCode 
		LEFT JOIN fundingdetail fd
		ON f.fdCode = fd.fdDetailCode
		WHERE f.fdCode = #{fdCode};
	</select>
	<!-- 하나의 펀딩의 Detail 정보(openstory,comValue) -->
	<select id="getFundingDetail" parameterType="INT" resultType="com.pineapple.funding.service.FundingDetail">
		SELECT fd.fdDetailCode,
			   fd.openstory,
			   fd.comValue 
		FROM fundingdetail fd 
		WHERE fd.fdDetailCode = #{fdCode};
	</select>
	<!-- 펀딩 투자 예약하기 -->
	<insert id="addinvestment">
		INSERT INTO investment
			   (investFdCode, investId, purchaseShares, investTime)
		VALUES (#{investFdCode}, #{investId}, #{purchaseShares}, NOW())
	</insert>
	<!-- 하나의 펀딩의 Q&A정보 -->
 	<select id="getFundingQna" parameterType="INT" resultType="com.pineapple.invest.service.FundingQna">
		SELECT fq.qnaCode,
			   fq.qnaFdId,
			   fq.qnaFdCode,
			   fq.qnaFdTitle,
			   fq.qnaFdContent,
			   fq.qnaFdTime
		FROM fundingqna fq 
		WHERE fq.qnaFdCode = #{fdCode}
		ORDER BY fq.qnaFdTime DESC;
	</select>
	<!-- 하나의 펀딩 Q&A에 대한 댓글조회 -->
	<select id="getFundingQnaAndQnaReply" parameterType="INT" resultMap="getFundingQnaAndQnaReplyresult">
		SELECT fqr.qnaReCode,
			   fqr.reQnaCode,
			   fqr.qnaReId,
			   fqr.qnaReContent,
			   fqr.qnaReTime,
			   fq.qnaFdCode 
		FROM fundingqnareply fqr 
		LEFT JOIN fundingqna fq 
		ON fqr.reQnaCode = fq.qnaCode 
		WHERE reQnaCode = #{qnaCode}
		ORDER BY qnaReTime DESC
	</select>
	<!-- 하나의 펀딩 Q&A 입력하기 -->
 	<insert id="addFundingQna" parameterType="com.pineapple.invest.service.FundingQna">
		INSERT INTO fundingqna
			   (qnaFdId, qnaFdCode, qnaFdTitle, qnaFdContent, qnaFdTime)
		VALUES (#{qnaFdId}, #{qnaFdCode}, #{qnaFdTitle}, #{qnaFdContent}, NOW())
	</insert>
	<!-- 하나의 펀딩 Q&A 수정하기 -->
	<update id="modifyFundingQna" parameterType="com.pineapple.invest.service.FundingQna">
		UPDATE fundingqna
			SET
				qnaFdCode=#{qnaFdCode},
				qnaFdTitle=#{qnaFdTitle},
				qnaFdContent=#{qnaFdContent}
		WHERE qnaCode=#{qnaCode}
	</update>
	 <!-- 하나의 펀딩 Q&A 글 삭제시 댓글삭제 -->
	<delete id="removeFundingQnaAllReply" parameterType="INT">
		DELETE FROM fundingqnareply WHERE reQnaCode=#{qnaCode}
	</delete>
	<!-- 하나의 펀딩 Q&A 삭제하기 -->
	<delete id="removeFundingQna" parameterType="INT">
		DELETE FROM fundingqna WHERE qnaCode=#{qnaCode}
	</delete>
	<!-- 하나의 펀딩 Q&A 댓글 입력하기 -->
	<insert id="addFundingQnaReply" parameterType="com.pineapple.invest.service.FundingQna">
		INSERT INTO fundingqnareply
			   (reQnaCode, qnaReId, qnaReContent, qnaReTime)
		VALUES (#{reQnaCode}, #{qnaReId}, #{qnaReContent}, NOW())
	</insert>
	<!-- 하나의 펀딩 Q&A 댓글 수정하기 -->
	<update id="modifyFundingQnaReply">
		UPDATE fundingqnareply
			SET
				qnaReContent=#{qnaReContent}
	WHERE qnaReCode = #{qnaReCode}
	</update>
	<!-- 하나의 펀딩 Q&A 댓글 삭제하기 -->
	<delete id="removeFundingQnaReply">
		DELETE FROM fundingqnareply WHERE qnaReCode=#{qnaReCode}
	</delete>
</mapper>