<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pineapple.invest.service.InvestMapper">
	 <!-- InvestAndFd -->
	 <resultMap type="com.pineapple.invest.service.InvestAndFd"
	 			id="selectInvestAndFd">
	 	<result property="fdCode" column="fdCode"/>
	 	<result property="fdTitle" column="fdTitle"/>
	 	<result property="numberOfShares" column="numberOfShares"/>
	 	<result property="comName" column="comName"/>
	 	<result property="total" column="total"/>
	 	<result property="posterImg" column="posterImg"/>
	 	<result property="minInvestMoney" column="minInvestMoney"/>
	 	<result property="issuePrice" column="issuePrice"/>
	 	<result property="days" column="days"/>
	 	<result property="fdStatus" column="fdStatus"/>
	 	<result property="checkassignment" column="checkassignment"/>
	 </resultMap>
	 <!-- InvestAndFdLikeAndFd -->
	 <resultMap type="com.pineapple.invest.service.InvestAndFdLikeAndFd"
	 			id="selectInvestAndFdLikeAndFd">
		<result property="fdCode" column="fdCode"/>
		<result property="numberOfShares" column="numberOfShares"/>
		<result property="issuePrice" column="issuePrice"/>
		<result property="closeDate" column="closeDate"/>
		<result property="fdTitle" column="fdTitle"/>
		<result property="fdType" column="fdType"/>
		<result property="minInvestMoney" column="minInvestMoney"/>
		<result property="liketotal" column="liketotal"/>
		<result property="investtotal" column="investtotal"/>
		<result property="investcount" column="investcount"/>
		<result property="posterImg" column="posterImg"/>
		<result property="idpaycheck" column="idpaycheck"/>
		<result property="fdStatus" column="fdStatus"/>
	</resultMap>
	<!-- FundingDetail -->
	<resultMap type="com.pineapple.funding.service.Funding"
			   id="selectFundingDetail">
		<result property="fdDetailCode" column="fdDetailCode"/>
		<result property="openstory" column="openstory"/>
		<result property="comValue" column="comValue"/>
	</resultMap>
	 <!-- FundingQna -->
	 <resultMap type="com.pineapple.invest.service.FundingQna"
			   	id="selectFundingQna">
		<result property="qnaCode" column="qnaCode"/>
		<result property="qnaFdId" column="qnaFdId"/>
		<result property="qnaFdCode" column="qnaFdCode"/>
		<result property="qnaFdTitle" column="qnaFdTitle"/>
		<result property="qnaFdContent" column="qnaFdContent"/>
		<result property="qnaFdTime" column="qnaFdTime"/>
	</resultMap>
	<!-- FundingQnaReply -->
	<resultMap type="com.pineapple.invest.service.FundingQnaReply"
			   id="selectFundingQnaReply">
		<id property="qnaReCode" column="qnaReCode"/>
		<result property="reQnaCode" column="reQnaCode"/>
		<result property="qnaReId" column="qnaReId"/>
		<result property="qnaReContent" column="qnaReContent"/>
		<result property="qnaReTime" column="qnaReTime"/>
	</resultMap>
	<!-- FundingQnaAndQnaReply -->
	<resultMap type="com.pineapple.invest.service.FundingQnaAndQnaReply" 
			   id="selectFundingQnaAndQnaReplyresult">
		<id property="qnaReCode" column="qnaReCode"/>
		<result property="reQnaCode" column="reQnaCode"/>
		<result property="qnaReId" column="qnaReId"/>
		<result property="qnaReContent" column="qnaReContent"/>
		<result property="qnaReTime" column="qnaReTime"/>
		<result property="qnaFdCode" column="qnaFdCode"/>
	</resultMap>
	<resultMap type="com.pineapple.invest.service.Investment" id="investmentresultmapper">
		<id property="investCode" column="investCode"/>
		<result property="investFdCode" column="investFdCode"/>
		<result property="investId" column="investId"/>
		<result property="purchaseShares" column="purchaseShares"/>
		<result property="investTime" column="investTime"/>
	</resultMap>
	<resultMap type="com.pineapple.invest.service.InvestAndFundingAndMoney" id="selectinvestFundingMoney">
		<id property="investCode" column="investCode"/>
		<result property="investFdCode" column="investFdCode"/>
		<result property="investId" column="investId"/>
		<result property="purchaseShares" column="purchaseShares"/>
		<result property="investTime" column="investTime"/>
		<result property="payCheck" column="payCheck"/>
		<result property="fdCode" column="fdCode"/>
		<result property="moneytotal" column="moneytotal"/>
		<result property="numberOfShares" column="numberOfShares"/>
		<result property="issuePrice" column="issuePrice"/>
		<result property="minInvestMoney" column="minInvestMoney"/>
	</resultMap>
	<!-- 투자하기 main 에서 사용하는 펀딩조건 검색 조회 쿼리 -->
	<select id="selectInvestFundingListChoose" parameterType="hashmap" resultMap="selectInvestAndFd">
		SELECT  f.fdCode,
				f.fdTitle,
				f.numberOfShares,
				c.comName,
				CASE f.fdStatus WHEN '모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode ) WHEN '결제모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) WHEN '진행중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode) END as total,
				f.posterImg,
				f.minInvestMoney,
				f.issuePrice,
				TO_DAYS(f.closeDate)-TO_DAYS(now()) as days,
				f.fdStatus
		FROM funding f 
		LEFT JOIN company c 
		ON f.fdComCode = c.comCode
		LEFT JOIN businessarea b
		ON f.fdCode = b.areaFdCode
		LEFT JOIN dividendplan d
		ON f.fdCode = d.divFdCode
		<where>
		(f.fdStatus = '모집중' OR f.fdStatus = '결제모집중')
		<if test="fundingtitlename != null">
			AND
			<foreach collection="fundingtitlename" item="title" open="(" close=")" separator="or">
				f.fdTitle LIKE CONCAT('%',#{title},'%')
			</foreach>
		</if>
		<if test="fdtype != null">
			AND
			<foreach collection="fdtype" item="type" open="(" close=")" separator="or">
				f.fdType = #{type}
			</foreach>
		</if>
		<if test="fdarea != null">
			AND 
			<foreach collection="fdarea" item="area" open="(" close=")" separator="or">
				b.areaName = #{area}
			</foreach>
		</if>
		<if test="fddividend != null">
			AND
			<foreach collection="fddividend" item="dividend" open="(" close=")" separator="or">
				<if test="dividend == 1">
					d.dividendRate &lt; 10
				</if>
				<if test="dividend == 2">
					d.dividendRate &gt;= 10 and d.dividendRate &lt; 15
				</if>
				<if test="dividend == 3">
					d.dividendRate &gt;= 15
				</if>
			</foreach>
		</if>
		<if test="fdstatus != null">
			AND
			<foreach collection="fdstatus" item="status" open="(" close=")" separator="or">
				f.fdstatus = #{status}			
			</foreach>
		</if>
		</where>
		GROUP BY f.fdCode 
		ORDER BY f.fdDate DESC
		<if test="numberOfRequests == 0">
		limit #{numberOfRequests},9;
		</if>
		<if test="numberOfRequests != 0">
		limit #{numberOfRequests},3;
		</if>
	</select>
	<!-- 투자하기 펀딩안에서 사용하는 모집중인 펀딩 조회 쿼리 -->
	<select id="selectInvestAndFdLikeAndFd" parameterType="hashmap" resultMap="selectInvestAndFdLikeAndFd">
		SELECT f.fdCode,
			 f.numberOfShares, 
			 f.issuePrice,
			 f.closeDate,
			 f.fdTitle,
			 f.fdType,
			 f.minInvestMoney,
			 (SELECT COUNT(sfl.fdCode)FROM fundinglike sfl WHERE sfl.fdCode= #{fdCode}) as liketotal,
			 CASE f.fdStatus WHEN '모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode ) WHEN '결제모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) WHEN '진행중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode) END as investtotal,
			 COUNT(i.investId) as investcount,
			 IFNULL(fd.openstory,'정보없음') as openstory,
			 IFNULL(fd.comValue,'정보없음') as comValue,
			 f.posterImg,
			 IFNULL((SELECT si.payCheck FROM investment si WHERE si.investId = #{id} AND si.investFdCode = f.fdCode),2) idpaycheck,
			 f.fdStatus
		FROM funding f 
		LEFT JOIN investment i 
		ON f.fdCode = i.investFdCode 
		LEFT JOIN fundingdetail fd
		ON f.fdCode = fd.fdDetailCode
		WHERE f.fdCode = #{fdCode};
	</select>
	<!-- 하나의 펀딩의 Detail 정보(openstory,comValue) -->
	<select id="selectFundingDetail" parameterType="INT" resultType="com.pineapple.funding.service.FundingDetail">
		SELECT fd.fdDetailCode,
			   fd.openstory,
			   fd.comValue 
		FROM fundingdetail fd 
		WHERE fd.fdDetailCode = #{fdCode};
	</select>
	<!-- 펀딩 투자 예약하기 -->
	<insert id="insertInvestment">
		INSERT INTO investment
			   (investFdCode, investId, purchaseShares, investTime)
		VALUES (#{investFdCode}, #{investId}, #{purchaseShares}, NOW())
	</insert>
	<!-- 펀딩 투자 취소하기 클릭시 Data 요청 -->
	<select id="selectInvestmentDeleteData" parameterType="hashmap" resultMap="investmentresultmapper">
		SELECT i.investCode,
			   i.investFdCode,
			   i.investId,
			   i.purchaseShares,
			   i.investTime 
		FROM investment i 
		WHERE i.investId = #{id} 
		AND i.investFdCode = #{fdCode}
	</select>
	<!-- 펀딩 투자 취소하기 모달에서 취소하기 버튼 클릭시 삭제 -->
	<delete id="deleteinvestment" parameterType="INT">
		DELETE FROM investment WHERE investCode=#{investCode}
	</delete>
	<!-- 펀딩 투자예약후 결제하기 Data 요청 -->
	<select id="selectMyinvestData" parameterType="hashmap" resultMap="selectinvestFundingMoney">
		SELECT i.investCode,
		       i.investFdCode,
		       i.investId,
		       i.purchaseShares,
		       i.investTime,
		       i.payCheck,
		       f.fdCode,
		       (SELECT SUM(m.mfAmount) FROM moneyflow m WHERE m.mfFdCode = f.fdCode AND m.mfCategory = 1) as moneytotal,
		       f.numberOfShares,
		       f.issuePrice,
		       f.minInvestMoney  
		FROM investment i 
		INNER JOIN funding f 
		ON i.investFdCode = f.fdCode 
		WHERE i.investId = #{id} AND f.fdCode = #{fdCode}
	</select>
	<!-- 펀딩 투자예약후 결제하기 -->
	<insert id="insertMoneyflow" parameterType="com.pineapple.invest.service.Moneyflow">
		INSERT INTO moneyflow
			(mfFdCode, mfInvestCode, mfAmount, mfCategory, mfDate)
		VALUES (#{mfFdCode}, #{mfInvestCode}, #{mfAmount}, 1, NOW())
	</insert>
	<!-- 펀딩 보고서 list -->
	<select id="selectFundingReportList" parameterType="INT" resultType="java.util.HashMap">
		SELECT f.fdTitle,
		       ff.fdFileName,
		       ff.fdFileExtension,
		       ff.fdFileSize,
		       ff.fdFileUploadName 
		FROM funding f 
		LEFT JOIN fundingfile ff 
		ON f.fdCode = ff.fileFdCode 
		WHERE f.fdCode = #{fdCode}
	</select>
	<!-- 하나의 펀딩의 Q&A정보 -->
 	<select id="selectFundingQna" parameterType="INT" resultType="com.pineapple.invest.service.FundingQna">
		SELECT fq.qnaCode,
			   fq.qnaFdId,
			   fq.qnaFdCode,
			   fq.qnaFdTitle,
			   fq.qnaFdContent,
			   fq.qnaFdTime
		FROM fundingqna fq 
		WHERE fq.qnaFdCode = #{fdCode}
		ORDER BY fq.qnaFdTime DESC;
	</select>
	<!-- 하나의 펀딩 Q&A에 대한 댓글조회 -->
	<select id="selectFundingQnaAndQnaReply" parameterType="INT" resultMap="selectFundingQnaAndQnaReplyresult">
		SELECT fqr.qnaReCode,
			   fqr.reQnaCode,
			   fqr.qnaReId,
			   fqr.qnaReContent,
			   fqr.qnaReTime,
			   fq.qnaFdCode 
		FROM fundingqnareply fqr 
		LEFT JOIN fundingqna fq 
		ON fqr.reQnaCode = fq.qnaCode 
		WHERE reQnaCode = #{qnaCode}
		ORDER BY qnaReTime DESC
	</select>
	<!-- 하나의 펀딩 Q&A 입력하기 -->
 	<insert id="insertFundingQna" parameterType="com.pineapple.invest.service.FundingQna">
		INSERT INTO fundingqna
			   (qnaFdId, qnaFdCode, qnaFdTitle, qnaFdContent, qnaFdTime)
		VALUES (#{qnaFdId}, #{qnaFdCode}, #{qnaFdTitle}, #{qnaFdContent}, NOW())
	</insert>
	<!-- 하나의 펀딩 Q&A 수정하기 -->
	<update id="updateFundingQna" parameterType="com.pineapple.invest.service.FundingQna">
		UPDATE fundingqna
			SET
				qnaFdCode=#{qnaFdCode},
				qnaFdTitle=#{qnaFdTitle},
				qnaFdContent=#{qnaFdContent}
		WHERE qnaCode=#{qnaCode}
	</update>
	 <!-- 하나의 펀딩 Q&A 글 삭제시 댓글삭제 -->
	<delete id="deleteFundingQnaAllReply" parameterType="INT">
		DELETE FROM fundingqnareply WHERE reQnaCode=#{qnaCode}
	</delete>
	<!-- 하나의 펀딩 Q&A 삭제하기 -->
	<delete id="deleteFundingQna" parameterType="INT">
		DELETE FROM fundingqna WHERE qnaCode=#{qnaCode}
	</delete>
	<!-- 하나의 펀딩 Q&A 댓글 입력하기 -->
	<insert id="insertFundingQnaReply" parameterType="com.pineapple.invest.service.FundingQna">
		INSERT INTO fundingqnareply
			   (reQnaCode, qnaReId, qnaReContent, qnaReTime)
		VALUES (#{reQnaCode}, #{qnaReId}, #{qnaReContent}, NOW())
	</insert>
	<!-- 하나의 펀딩 Q&A 댓글 수정하기 -->
	<update id="updateFundingQnaReply">
		UPDATE fundingqnareply
			SET
				qnaReContent=#{qnaReContent}
		WHERE qnaReCode = #{qnaReCode}
	</update>
	<!-- 하나의 펀딩 Q&A 댓글 삭제하기 -->
	<delete id="deleteFundingQnaReply">
		DELETE FROM fundingqnareply WHERE qnaReCode=#{qnaReCode}
	</delete>
	
	
	
<!-- 	PMS Dividend PMS Dividend PMS Dividend PMS Dividend PMS Dividend PMS Dividend PMS Dividend PMS Dividend PMS Dividend -->
	<select id="selectPMSDividendpay" resultType="java.util.HashMap" parameterType="String">
		SELECT *
			FROM funding
			WHERE (fdComCode = ANY 
				(SELECT e.emComCode 
				FROM user u INNER JOIN employee e 
				ON u.userId = e.emUserId
				WHERE u.userId = #{id}))
				AND (fdStatus = '진행중')
	</select>

<!-- 	PMS Assignment PMS Assignment PMS Assignment PMS Assignment PMS Assignment PMS Assignment PMS Assignment PMS Assignment PMS Assignment -->
 	<resultMap type="com.pineapple.funding.service.FundingAndCompanyAndMileStone" id="FundingAndCompany">
		<result property="fdCode" column="fdCode"/>
		<result property="fdComCode" column="fdComCode"/>
		<result property="fdTitle" column="fdTitle"/>
		<result property="minInvestMoney" column="minInvestMoney"/>
		<result property="numberOfShares" column="numberOfShares"/>
		<result property="issuePrice" column="issuePrice"/>
		<result property="openDate" column="openDate"/>
		<result property="closeDate" column="closeDate"/>
		<result property="minInterestRate" column="minInterestRate"/>
		<result property="fdType" column="fdType"/>
		<result property="fdStatus" column="fdStatus"/>
		<result property="projectStartDate" column="projectStartDate"/>
		<result property="projectEndDate" column="projectEndDate"/>
		<result property="posterImg" column="posterImg"/>
		<result property="fdPublisher" column="fdPublisher"/>
		<result property="adminApproval" column="adminApproval"/>
		<result property="fdApprovalDate" column="fdApprovalDate"/>
		<result property="fdApprovalId" column="fdApprovalId"/>
		<result property="fdDate" column="fdDate"/>
		<result property="comCode" column="comCode"/>
		<result property="comName" column="comName"/>
	</resultMap>
	<resultMap type="com.pineapple.invest.service.Investment" id="investmentlistresultmapper">
		<id property="investCode" column="investCode"/>
		<result property="investFdCode" column="investFdCode"/>
		<result property="investId" column="investId"/>
		<result property="purchaseShares" column="purchaseShares"/>
		<result property="investTime" column="investTime"/>
		<result property="payCheck" column="payCheck"/>
	</resultMap>
 	<resultMap type="com.pineapple.invest.service.Moneyflow" id="moneyflowresultmapper">
		<result property="flowCode" column="flowCode"/>
		<result property="mfFdCode" column="mfFdCode"/>
		<result property="mfInvestCode" column="mfInvestCode"/>
		<result property="mfAmount" column="mfAmount"/>
		<result property="mfCategory" column="mfCategory"/>
		<result property="mfDate" column="mfDate"/>
	</resultMap>
 	<select id="selectsendAssignmentlist" resultMap="selectInvestAndFd" parameterType="INT">
		SELECT  f.fdCode,
				f.fdTitle,
				f.numberOfShares,
				c.comName,
				CASE f.fdStatus WHEN '모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode ) WHEN '결제모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) WHEN '진행중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) WHEN '모집실패' THEN(SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) END as total,				f.minInvestMoney,
				f.issuePrice,
				f.fdStatus,
				TO_DAYS(f.projectStartDate)-TO_DAYS(now()) as days,
				(SELECT mf.flowCode FROM moneyflow mf WHERE f.fdCode = mf.mfFdCode AND mf.mfCategory = 3) checkassignment
		FROM funding f 
		LEFT JOIN company c 
		ON f.fdComCode = c.comCode 
		WHERE f.fdStatus = '결제모집중' or f.fdStatus = '진행중' or (f.fdStatus = '모집실패' AND (SELECT SUM(ssi.purchaseShares) FROM investment ssi WHERE ssi.investFdCode = f.fdCode AND ssi.payCheck = 1))
		GROUP BY f.fdCode 
		ORDER BY f.fdDate DESC
		<choose>
		<when test="_parameter != null">
			limit #{numberOfRequests},10;
		</when>
		<otherwise>
			limit 0,10;
		</otherwise>
		</choose>
	</select>

	<select id="selectFundingAndCompanyData" resultMap="FundingAndCompany" parameterType="INT">
		SELECT *
			FROM funding f INNER JOIN company c
			WHERE f.fdCode = #{fdCode} AND f.fdComCode = c.comCode
	</select>
	<!-- 배정하기 -->
	<insert id="insertAssignment" parameterType="com.pineapple.invest.service.Moneyflow">
		INSERT INTO moneyflow
	(mfFdCode, mfInvestCode, mfAmount, mfCategory, mfDate)
	VALUES (#{mfFdCode}, #{mfInvestCode}, #{mfAmount}, #{mfCategory}, NOW())
	</insert>
	<!-- 수수료받기 -->
	<insert id="insertFees" parameterType="com.pineapple.invest.service.Moneyflow">
		INSERT INTO moneyflow
	(mfFdCode, mfInvestCode, mfAmount, mfCategory, mfDate)
	VALUES (#{mfFdCode}, #{mfInvestCode}, #{mfAmount}, #{mfCategory}, NOW())
	</insert>
	<!-- 환불 대상 list 조회 -->
	<select id="selectInvestmentRefundList" parameterType="INT" resultMap="investmentlistresultmapper" >
		SELECT *
		FROM investment
		WHERE investFdCode=#{fdCode} AND payCheck = 1
		<if test="_parameter.numberOfRequests==null">
			limit 0,10;
		</if>
		<if test="_parameter.numberOfRequests!=null">
			limit #{numberOfRequests},10;
		</if>
	</select>
	<!-- 펀딩의 투자한 목록 조회 -->
 	<select id="selectFundingRefundInvestorList" parameterType="INT" resultMap="moneyflowresultmapper">
		SELECT f.fdCode mfFdCode,i.investCode mfInvestCode,(i.purchaseShares*f.issuePrice) mfAmount FROM investment i INNER JOIN funding f ON i.investFdCode = f.fdCode WHERE investFdCode = #{fdCode} AND payCheck = 1
	</select>
	<!-- 펀딩투자한 목록 조회 토대로 환불입력 -->
  	<insert id="insertInvestorRefund" parameterType="com.pineapple.invest.service.Moneyflow">
		INSERT INTO moneyflow
	(mfFdCode, mfInvestCode, mfAmount, mfCategory, mfDate)
	VALUES (#{mfFdCode}, #{mfInvestCode}, #{mfAmount}, 2, NOW())
	</insert>
	<!-- 펀딩투자한 목록 조회 토대로 입금내역 삭제 -->
	<delete id="deleteInvestorInvest" parameterType="com.pineapple.invest.service.Moneyflow">
		DELETE FROM moneyflow WHERE mfInvestCode=#{mfInvestCode}
	</delete>
	<delete id="deleteInvestorInvestlist" parameterType="com.pineapple.invest.service.Moneyflow">
		DELETE FROM investment WHERE investCode=#{mfInvestCode}
	</delete>

<!-- 	MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page MY Page  -->
	<!-- MyInvestorFundingQna -->
	<resultMap type="com.pineapple.invest.service.MyInvestorFundingQna" 
			   id="selectMypageFundingQnaResultMap">
		<id property="qnaCode" column="qnaCode"/>
		<result property="qnaFdCode" column="qnaFdCode"/>
		<result property="qnaFdTitle" column="qnaFdTitle"/>
		<result property="qnaFdContent" column="qnaFdContent"/>
		<result property="qnaFdTime" column="qnaFdTime"/>
		<result property="comName" column="comName"/>
		<result property="fdTitle" column="fdTitle"/>
		<result property="fdType" column="fdType"/>
	</resultMap>
	<!-- InvestorInvestList -->
	<resultMap type="com.pineapple.invest.service.InvestorInvestList" id="selectInvestresultmap">
		<id property="investCode" column="investCode"/>
	 	<result property="investFdCode" column="investFdCode"/>
	 	<result property="investId" column="investId"/>
	 	<result property="investTime" column="investTime"/>
	 	<result property="payCheck" column="payCheck"/>
	 	<result property="purchaseShares" column="purchaseShares"/>
	 	<result property="fdCode" column="fdCode"/>
	 	<result property="fdType" column="fdType"/>
	 	<result property="fdStatus" column="fdStatus"/>
	 	<result property="investtotal" column="investtotal"/>	
</resultMap>
	<!-- 자신의 펀딩 Q&A 글 조회 -->
	<select id="selectMypageFundingQna" resultMap="selectMypageFundingQnaResultMap">
		SELECT fq.qnaCode,
			   fq.qnaFdCode,
			   fq.qnaFdTitle,
			   fq.qnaFdContent,
			   fq.qnaFdTime,
			   c.comName,
			   f.fdTitle,
			   f.fdType 
		FROM fundingqna fq 
		INNER JOIN funding f 
		ON fq.qnaFdCode = f.fdCode 
		INNER JOIN company c 
		ON c.comCode = f.fdComCode 
		WHERE fq.qnaFdId = #{qnaFdId} 
		ORDER BY fq.qnaFdTime DESC
	</select>
	<!-- 자신의 투자 list 조회 -->
	<select id="selectMpageinvestment" parameterType="String" resultMap="selectInvestresultmap">
		SELECT  i.investCode,
			i.investFdCode,
			i.investId,
			i.investTime,
			i.payCheck,
			i.purchaseShares,
			f.fdCode,
			f.fdType,
			f.fdStatus,
			f.numberOfShares,
			f.fdTitle,
			f.issuePrice,
			CASE f.fdStatus WHEN '모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode ) WHEN '결제모집중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode AND si.payCheck = 1 GROUP BY si.investFdCode) WHEN '진행중' THEN (SELECT SUM(si.purchaseShares) FROM investment si WHERE si.investFdCode = f.fdCode GROUP BY si.investFdCode) END investtotal 
		FROM investment i 
		INNER JOIN funding f 
		ON i.investFdCode = f.fdCode  
		WHERE i.investId = #{id}
		GROUP BY i.investCode
	</select>
</mapper>