<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pineapple.invest.service.InvestMapper">
	<select id="investFundingSelect" parameterType="java.util.Map" resultType="com.pineapple.invest.service.InvestAndFd">
		SELECT  f.fdCode,
				f.fdTitle,
				f.numberOfShares,
				c.comName,
				IFNULL(sum(i.purchaseShares),0) as total 
		FROM funding f 
		LEFT JOIN company c 
		ON f.fdComCode = c.comCode 
		LEFT JOIN investment i 
		ON f.fdCode = i.investFdCode 
		GROUP BY i.investFdCode 
		ORDER BY f.openDate ASC;
	</select>
</mapper>