@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/* PADDING and MARGIN CSS */
	.pd-t-0{padding-top: 0px}
	.pd-l-0{padding-left:  0px}
	.pd-r-0{padding-right:  0px}
	.pd-b-0{padding-bottom:  0px}
	.pd-a-0{padding: 0px}
	
	.pd-t-10{padding-top: 10px}
	.pd-l-10{padding-left:  10px}
	.pd-r-10{padding-right:  10px}
	.pd-b-10{padding-bottom:  10px}
	.pd-a-10{padding: 10px}
	.pd-lr-10{padding: 0px 10px}
	
	.pd-t-15{padding-top: 15px}
	.pd-l-15{padding-left:  15px}
	.pd-r-15{padding-right:  15px}
	.pd-b-15{padding-bottom:  15px}
	.pd-a-15{padding: 15px}
	.pd-lr-10{padding: 0px 15px}
	
	.pd-t-20{padding-top: 20px}
	.pd-l-20{padding-left:  20px}
	.pd-r-20{padding-right:  20px}
	.pd-b-20{padding-bottom:  20px}
	.pd-a-20{padding: 20px}
	.pd-lr-10{padding: 0px 20px}
	
	.ma-t-0{margin-top: 0px}
	.ma-l-0{margin-left: 0px}
	.ma-r-0{margin-right: 0px}
	.ma-b-0{margin-bottom: 0px}
	.ma-a-0{margin: 0px}
	
	.ma-t-10{margin-top: 1px}
	.ma-l-10{margin-left: 10px}
	.ma-r-10{margin-right: 10px}
	.ma-b-10{margin-bottom: 10px}
	.ma-a-10{margin: 10px}
	.ma-lr-10{margin: 0px 10px}
	
	.ma-t-15{margin-top: 15px}
	.ma-l-15{margin-left: 15px}
	.ma-r-15{margin-right: 15px}
	.ma-b-15{margin-bottom: 15px}
	.ma-a-15{margin: 15px}
	.ma-lr-10{margin: 0px 15px}
	
	.ma-t-20{margin-top: 20px}
	.ma-l-20{margin-left: 20px}
	.ma-r-20{margin-right: 20px}
	.ma-b-20{margin-bottom: 20px}
	.ma-a-20{margin: 20px}
	.ma-lr-10{margin: 0px 20px}
/* PADDING and MARGIN CSS */

/* BORDER CSS */
	.bor-defult{border: 1px solid;}
/* BORDER CSS */

/* TEXT-CENTER CSS */
	/* LEFT and RIGHT CENTER CSS */
	.text-lr-center{text-align: center;}
	/* LEFT and RIGHT CENTER CSS */
/* TEXT-CENTER CSS */

/* FONT CSS */
	.font-j{font-family: 'Jeju Gothic', serif;}
/* FONT CSS */

/* CLASS and TAG CSS */
	/* 투자하기 */
		/* 펀딩 동영상 부분 */
			.funding-vedio{text-align: center;}
		/* 펀딩 동영상 부분 */
		/* 펀딩Data 동영상 옆 */
			/* 모집,투자자,달성률 */
				.fundingdata1{padding-top: 10px;}
				div.fundingdata1 div{font-size: 20px;}
				div.fundingdata1 h4{margin: 0px;}
				.fundingdata .topdata{padding-top: 10;
									  border: 1px solid;
									  }
			/* 모집,투자자,달성률 */
			/* 차트바 */
				.chart-bar{height: 85px;
						   line-height: 42px;
						   border: 1px solid;}
			/* 차트바 */
			/* 펀딩좋아요,마감일자 */
				div.fundingdata2 div{padding: 10px;
									 text-align: center;
									 border: 1px solid;
									 height: 45px}
			/* 펀딩좋아요,마감일자 */
			/* 투자하기,투자방법안내 btn */
				.investbtn-all{padding: 0px;
							   border: 1px solid;}
				.investbtn-invest{padding: 0px;
						   font-size: 30px;
						   border: 1px solid;}
				.investbtn-investguide{padding: 0px;
									   font-size: 20px;
									   border: 1px solid;}
			/* 투자하기,투자방법안내 btn */
			/* 펀딩형태,판매주식수,주당발행가,최소신청금액 */
				.funding-investdata{line-height: 40px;
									border: 1px solid;}
			/* 펀딩형태,판매주식수,최소신청금액 */
		/* 펀딩Data 동영상 옆 */
		/* 펀딩Tab */
			/* 펀딩Q&A */
				/* 펀딩Q&A */
					.funding-qna{margin-top: 20px;
								 border: 1.5px solid #009442;
								 border-radius: 5px;}
					.funding-qnaid{margin-top: 10px;
								   padding-left: 0px;
								   font-size: 12px;
								   text-align: left;}
					.funding-title{margin: 10px 0px;
								   font-size: 25px;
								   padding: 0px;
								   text-align: left;}
					.funding-content{margin: 10px 0px;
									 font-size: 17px;
									 padding: 0px;
									 text-align: left;}
					.funding-qnaidandtime{opacity: 0.4}
					.funding-qnaupanddel{opacity: 0.8}
					
				/* 펀딩Q&A*/
				/* 펀딩Q&A댓글 */
					.reply-main{margin: 10px 0px;
							   padding: 0px;
							   text-align: left;}
					.collapse-main{margin: 20px 0px 0px 0px}
					.collapsereply-btn{text-align: left;
									   padding: 0px;}
					.collapsereplyanswerbtn{width: 50%;
											height: 100px;
											padding: 0px;
											border: 1px solid;
											font-size: 20px;}
					.replycontent{text-align: left;
								  margin: 0px 0px 20px 0px;}
					.modalqnareplytitle{width: 100%;
									    height: 30px;
									    margin-bottom: 10px;}
					.modalqnareplycontent{width: 100%;
										  height: 100px;
										  resize: none;}
					.replycontentnull{padding: 0px 0px 0px 16px;
									  font-size: 18px;}
					.replyidandtime{opacity: 0.4;
									font-size: 12px;}
					.replyupanddel{opacity: 0.8;
								   font-size: 12px;}
					.qnareplycontent{padding: 0px 0xp 0px 16px;
									 margin: 0px 0px 0px 16px;
									 font-size: 18px;}
				/* 펀딩Q&A댓글 */
			/* 펀딩Q&A */
		/* 펀딩Tab */
	/* 투자하기 */
	/* 타임라인 */
		/* 타임라인 main page */
			/* 타임라인 상단 input,btn */
				.timemaintop{padding: 0px 15px;
							 margin-bottom: 20px}
				.timeinputbox{width: 75%;
							  height: 46px;
							  padding-left: 0px;}
				.timeinputbtn{width: 25%;
							  height: 100%;
							  font-size: 30px;
							  padding: 0px}
				.box1{height: 100%;}
				.timeinputbotton{width: 100%;
								 height: 46px;}
			/* 타임라인 상단 input,btn */
			/* 타임라인 list */
				.timelinelist{padding: 0px; 
							  margin-bottom: 20px;
							  border: 1.5px solid #009442;
							  border-radius: 5px;}
				.timelinenameandtime{padding: 0px;
									 font-size: 12px;
									 margin: 10px 0px 5px 0px;}
				.timelinenameandtimespan{opacity: 0.5;}
				.timeupanddelspan{opacity: 0.8;}
				.timelinetitle{padding: 0px 0px 10px 0px;
							   margin: 0px;
							   border-bottom: 1.5px solid;
							   border-bottom-color: #d7d7d7;}
				.timelinecontent{padding: 10px 0px 10px 10px;
								 font-size: 20px;
								 border-bottom: 1.5px solid;
								 border-bottom-color: #d7d7d7}
				.timelinefooter{padding: 10px 0px;
								font-size: 14px;}
				.likecount:hover{text-decoration: none;}
				.likecount:link{text-decoration: none;
								color: black;}
				.likecount:visited{text-decoration: none;
								 color: black;}
				.timereply:hover{text-decoration: none;}
				.timereply:link{text-decoration: none;}
				.timereply:visited{text-decoration: none;}
				.timereply:active{text-decoration: none;}
			/* 타임라인 list */
			/* 타임라인 댓글list */
				.timeline-reply{margin-top: 20px;
							    border: 1px solid;}
				.timeline-replyidandtime{font-size: 12px;
										 opacity: 0.5}
				.timeline-replyupanddel{font-size: 12px;
									    opacity: 0.8}
				.timeline-content{margin-left:20px;
								 font-size: 18px;
								 padding-left: 16px;}
				.timeline-display{display: none;}
				.timeline-replyupdateforminput{margin: 0px 0px 0px 30px;
											   padding: 0px;
											   font-size: 18px;}
				.timeline-replyupdateformbtn{height: 34px;
											 border: 1px solid;
											 margin-left: 20px}
				.timeline-replyicon{margin-left: 20px}
			/* 타임라인 댓글list */
		/* 타임라인 main page */
	/* 타임라인 */
	/* My Page */
		/* My Page Q&A*/
			/* My Page Invest */
				.investorinvestmain{padding: 10px;
									border: solid #009442;
									border-radius: 5px;
									margin-bottom: 20px;}
				.investorinvestpadding0{padding: 0px}
				.investoridandtime{padding: 0px 10px 0px 0px;
								   border-bottom: 1.5px solid #d7d7d7;
								   margin-bottom: 5px;}
				.investorid{font-size: 25px;
							padding: 0px;}
				.investortime{opacity: 0.5}
				.investmymoney{font-size: 20px;
							   margin-bottom: 10px;}
				.investorpandg{padding: 10px;
							   line-height: 60px;
							   text-align: center;
							   border-left: 1.5px solid #d7d7d7;}
				.investorp{font-size: 20px;}
				.investorg{margin: 0px;
						   border: 1px solid #d7d7d7;
						   height: 40px;}
				.investorgtext{line-height: 40px;
							   font-size: 15px}
							   
							   
				.investorinvestpay0main{padding: 10px;
									border:solid #009442;
									border-radius: 5px;
									margin-bottom: 20px;}
				.investorpay0idandtime{padding: 0px 10px 0px 0px;
								   border-bottom: 1.5px solid #d7d7d7;
								   margin-bottom: 5px;}
				.investorpay0id{font-size: 25px;
							padding: 0px;}
				.investorpay0time{opacity: 0.5}
				.investpay0mymoney{font-size: 20px;
							   margin-bottom: 10px;}
				.investorpay0pandg{padding: 10px;
							   line-height: 60px;
							   text-align: center;
							   border-left: 1.5px solid #d7d7d7;}
				.investorpay0p{font-size: 20px;}
				.investorpay0g{margin: 0px;
						   border: 1px solid #d7d7d7;
						   height: 40px;}
				.investorpay0gtext{line-height: 40px;
							       font-size: 15px}
			/* My Page Invest */
			/* My Page Q&A List*/
				.mypageqnatop{padding: 0px;}
				.mypageqnatitle{margin: 0px;
							   font-size: 25px;
							   padding: 0px;
							   text-align: left;}
				.mypageqnatitle2{margin: 10px 0px 0px 0px;
							  	 font-size: 25px;
							     padding: 0px;
							     text-align: left;}
				.mypageqnaqnaid{margin : 0px;
							   padding-left: 0px;
							   padding-bottom: 10px;
							   font-size: 12px;
							   text-align: left;
							   border-bottom: 1.5px solid #d7d7d7;}
				.mypageqnacontent{margin: 10px 0px 0px 0px;
								 font-size: 17px;
								 padding: 0px 0px 10px 0px;
								 text-align: left;
								 border-bottom: 1.5px solid #d7d7d7;
								 }
			/* My Page Q&A List*/
		/* My Page Q&A*/
		/* My Page Message */
			/* My Page Message Nav */
				.messagenav:HOVER{background-color: #d7d7d7;}
				.messagenav1:HOVER{text-decoration: none;}
				.messagenav{margin-top: 10px;}
			/* My Page Message Nav */
			/* My Page Message List */
				.msgcheckno{color: black;}
				.msgcheckno:link{color: black;
								 text-decoration: none;}
				.messagedisplynone{display: none;}
			/* My Page Message List */
		/* My Page Message */
	/* My Page */
/* CLASS and TAG CSS */

/* invest main 투자하기 main */
	.fdlist-main{padding: 0px 20px}
	.fdlist-box{margin: 0 auto;
				padding: 0px;}
	.fdlist-title{padding: 10px 10px 15px;
				  margin: 0px;
				  font-weight: bold;
				  border-bottom: 1px solid #d7d7d7;
				  font-size: 17px;}
	.fdlist-context{font-size : 11px;
					line-height: 17px;
    				height: 68px;
					margin-top: 7px;
   					margin-left: 10px;
  					margin-bottom: 0px;}
	.fdlist-comname{font-size: 13px;
					color: #252525;
					font-weight: bold;
   					text-align: left;
   					padding: 11px 10px 9px;}
	.fdlist-data{border-top: 1px solid #d7d7d7;
				 text-align: left;}
   	.positionfixed{position: fixed;
   			       top: 0px}
 /* invest main 투자하기 main */
 /* test */
 	.backcolor{background-color: #d7d7d7;}
 	.backcolorresult{background-color: white;}
 	.receiveidclick:HOVER {background-color: #d7d7d7}
 /* test */