@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


.boxs {
      color: #555555;
      text-align: center;
      height : 140px;
	  width : 300px;
	  float : left;
	  border: 1px solid #01022c;
	  margin: 2px 2px;
}
 input.submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;

    cursor: pointer;
    }