@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> <!-- google font -->

.boxs {
      color: #555555;
      text-align: center;
      height : 140px;
	  width : 300px;
	  float : left;
	  border: 1px solid #01022c;
	  margin: 2px 2px;
}
 .submitLink {
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
 }
 
.lskbtn{  <!-- lskbtn css설정 -->
      text-decoration: none;
      font-size:2rem;
      color:black;
      padding:10px 20px 10px 20px;
      margin:20px;
      display:inline-block;
      border-radius: 10px;
      transition:all 0.1s;
      text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
      font-family: 'Lobster', cursive; <!-- google font -->
}
.minibtn {
	font-size: 10px;
	padding:3px 3px 3px 3px;
	}
.minitd {
	height: 15px; 
	width: 10px;
	padding:3px 3px 3px 3px;
	}
table {
    border-collapse: collapse;
    width: 100%;
}
	
th, td {
	    padding: 8px;
	    text-align: left;
	    border-bottom: 1px solid #ddd;
}
.boder{
	border:1px solid #ddd;
	padding:10px 20px 10px 20px;
}
.listgroup{
	height: 150px;
	overflow: scroll;
	overflow-x: hidden;
}