@CHARSET "UTF-8";

/* 메인페이지 제외한 곳 // 로그인or 로그아웃 버튼 */
.loginorlogoutbtn{
	margin-top:20px;
	float:right;
	padding:0px;	
}


/* 프로젝트 관리 페이지 왼쪽 메뉴 */
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
} 



/* 프로젝트 관리 페이지 왼쪽 메뉴 */