@CHARSET "UTF-8";



/* 프로젝트 관리 페이지 왼쪽 메뉴 */
.closed{
	
display: none;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu ul li {
	list-style:none; 
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #01022c; /* Add a green color to the "active/current" link */
    color: white;
} 



/* 프로젝트 관리 페이지 왼쪽 메뉴 */