@CHARSET "UTF-8";

/* 수정중 */
.fundinglistbox {
	  background-color: #f7f7f9; /* White */
      color: #555555;
      text-align: center;
      height : 250px;
	  width : 330px;
	  float : left;
	  border: 1px solid #01022c;
	  margin: 2px 2px;
}
.fundinglistboxtop{
	width : 300px;
	height : 210px;
}
.fundinglistboxbottom{
	width : 300px;
	height : 20px;
}	  

/* 수정중 */
